<launch>
  <node pkg="sharp_fake" type="sharp_fake" name="sharp" output="screen">
  </node>

  <node pkg="odom_fake" type="odom_fake" name="odometry_publisher" output="screen">
  </node>

  <node pkg="base_controller_fake" type="base_controller_fake_node" name="base_controller" output="screen">
  </node>
</launch>
