<launch>
  <node pkg="sharp_fake" type="sharp" name="sharp" output="screen">
  </node>

  <node pkg="odom_fake" type="odom" name="odometry_publisher" output="screen">
  </node>

  <node pkg="base_controller" type="base_controller_node" name="base_controller" output="screen">
  </node>
</launch>
